@import './_null.scss';
@import './_fonts.scss';

//variables
$white: white;
$whiteEE: #EEEEEE;
$body: #F7F4FF;
$back: #FAFBFF;
$black: #000000;
$fontbody: #292D32;
$gray: #9197B3;
$gray2: #B5B7C0;
$violet: #5932EA;
$red1: #DF0404;
$red2: #FFC5C5;
$green1: #00B087;
$green2: #008767;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: $body;
  color: $fontbody;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrapper {
  width: calc(100% - 10px);
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 1024px) {
    width: 1000px;
  }

  @media (min-width: 1220px) {
    width: 1200px;
  }

  @media (min-width: 1450px) {
    width: 1440px;
  }
}