@import './_base.scss';
@import './components/_aside.scss';
@import './components/_main.scss';
@import './components/_user.scss';
@import './components/_futor.scss';
@import './components/_pagination.scss';

.page {
  @include flex-row;
  align-items: start;
  background-color: $back;
  width: 100%;
  height: 1198px;
  @media (max-width: 1449.98px) {
    height: 998px;
  }
  @media (max-width: 1219.98px) {
    height: 930px;
  }
  @media (max-width: 1023.98px) {
    @include flex-column;
    height: auto;
    padding-bottom: 20px;
    min-height: 100vh;
  }
}

.star {
  font-family: Poppins;
}