- 
  var menu = [
    { name: 'Dashboard', src: './img/key-square.png', selected: false, chevron: false },
    { name: 'Product', src: './img/3d-square.png', selected: false, chevron: true },
    { name: 'Customers', src: './img/user-square.png', selected: true, chevron: true },
    { name: 'Income', src: './img/wallet-money.png', selected: false, chevron: true },
    { name: 'Promote', src: './img/discount-shape.png', selected: false, chevron: true },
    { name: 'Help', src: './img/message-question.png', selected: false, chevron: true }
  ]

aside.aside
  .top
    figure.group31
      .group31__icon
        include ../img/vectorGroup31-1.svg
        .group31__icon_2
          include ../img/vectorGroup31-2.svg
      .group31__text Dashboard
      .group31__version v.01
    .menuicon
      .menuicon__icon
    ul.menu
      each menuItem in menu
        li.item(class={ selected: menuItem.selected })
          .item__icon(class={ selected: menuItem.selected } style={mask: `url(${menuItem.src}) center/contain no-repeat`})
          p.item__text= menuItem.name
          if(menuItem.chevron)
            .item__chevron(class={ selected: menuItem.selected })
  figure.group300
    .group300__ellipse
      img(src= user.src alt="user")
    figcaption.group300__group30
      p.group300__group30_name= user.name 
      p.group300__group30_profession= user.profession