- var user = {name: 'Evano', profession: 'Project Manager', src: './img/Evano.png'}

doctype html
include components/head
body
  .wrapper
    .page
      include components/aside
      include components/main
  script(src="./js/script.min.js")