@import '../_base.scss';

main {
  width: calc(100% - 472px);
  padding: 0 95px 0 71px;
  @media (max-width: 1449.98px) {
    width: calc(100% - 236px);
    padding: 0 10px;
  }
  @media (max-width: 1219.98px) {
    width: calc(100% - 105px);
  }
  @media (max-width: 1023.98px) {
    width: calc(100% - 20px);
  }
}
.hello {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: $black;
  padding: 41px 0 51px 0;
  @media (max-width: 1449.98px) {
    padding: 25px 0 30px 0;  
  }
  @media (max-width: 1023.98px) {
    font-size: 18px;
    padding: 10px 0;
  }
}
section {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  @media (max-width: 1023.98px) {
    border-radius: 15px;
  }
}
.product {
  width: 100%;
  background-color: $white;
  border-radius: 30px;
  padding: 30px 0 40px 0;
  //box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  transform: translateX(-90%);
  transition: 1s;
  @media (max-width: 1023.98px) {
    padding: 10px 0;
    border-radius: 15px;
  }
}
.head {
  width: calc(100% - 78px);
  padding: 0 40px 0 38px;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1219.98px) {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
  @media (max-width: 767.98px) {
    border-bottom: 1px solid $whiteEE;
  }
  @media (max-width: 520px) {
    flex-direction: column;
  }
  &__text {
    @include flex-column;
    @media (max-width: 520px) {
      @include flex-row;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    &_customers {
      font-size: 22px;
      font-weight: 600;
      line-height: 33px;
      letter-spacing: -0.01em;
      color: $black;
      @media (max-width: 1023.98px) {
        font-size: 18px;
      }
    }
    &_isactive {
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.01em;
      color: #16C098;
      margin: 7px 0 5px 0;
      @media (max-width: 1023.98px) {
        font-size: 12px;
      }
      @media (max-width: 520px) {
        margin: 0px;
      }
    }
  }
  &__search {
    position: relative;
    @include flex-row;
    width: 216px;
    height: 38px;
    margin-right: 13px;
    @media (max-width: 1023.98px) {
      width: 175px;
      margin-right: 0;
    }
    @media (max-width: 520px) {
      padding-bottom: 10px;
    }
    &_icon {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 9px;
      mask: url("../img/search.png") center/contain no-repeat;
      background-color: #7E7E7E;
      @media (max-width: 1023.98px) {
        left: 6px;
      }
    }
  }
}
input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 0 10px 40px;
  border-radius: 10px;
  background-color: #F9FBFF;
  @media (max-width: 1023.98px) {
    padding: 8px 0 8px 30px;
    }
  &::placeholder {
    color: $gray2;
    letter-spacing: 0.05em;
  }
}
.datahead {
  width: calc(100% - 78px);
  display: grid;
  padding: 35px 40px 14px 38px;
  grid-template-columns: 172px 131px 156px 207px 153px 45px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: $gray2;
  border-bottom: 1px solid $whiteEE;
  @media (max-width: 1219.98px) {
    width: calc(100% - 20px);
    padding: 35px 10px 14px 10px;
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr;
    font-size: 13px;
  }
  @media (max-width: 767.98px) {
    
    display: none;
  }
}
.win {
  overflow: hidden;
}
.list {
  width: calc(100% - 78px);
  padding: 0 40px 0 38px;  
  @media (max-width: 1219.98px) {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
}