.pagination {
  width: 271px;
  @include flex-row;
  justify-content: space-between;

}

.number {
  width: 26px;
  height: 24px;
  @include flex-center;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.01em;
  background-color: #F5F5F5;
  border: 1px solid $whiteEE;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    border: 1px solid $violet;
  }
  &:active {
    background-color: $violet;
    border: 1px solid $violet;
    color: $white;
    //opacity: 0.7;
  }
  &.active {
    background-color: $violet;
    border: 1px solid $violet;
    color: $white;
    &:hover {
      border: 1px solid $violet;
      background-color: #F5F5F5;
      color: inherit;
    }
    &:active {
      background-color: $violet;
      border: 1px solid $violet;
      color: $white;
    }
  }
}
.page0 {
  width: 10px;
  height: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: $black;
}